body{
    background:  rgb(42, 39, 34);
    font-family: Arial;
    color: wheat;
    font-size: 26px;

}
#container{
    display: grid;
    grid-template-areas: 'hd hd hd hd hd hd'
        'btn btn btn btn btn btn'
        'aside sec_0 sec_0 sec_0 sec_0 sec_0'
        'aside sec_0 sec_0 sec_0 sec_0 sec_0'
}
.btn{
    float: left;
    width: 25%;
    font-size: 26px;
    border: none;

}
.border{
    border: 1px solid yellow;
    margin: 3px;
}
header{
    grid-area: hd;
    text-align: center;
}
#div_0{
    grid-area: btn;
 }
aside{
    grid-area: aside;
    height: 555px;
}
#sec_0{
    grid-area:  sec_0;
}
img{
    width: 225px;
    height: 225px;
}